.splash-logo__image
{
    background: url('../assets/gitconvex.png');
    background-size: cover;
    width: 200px;
    height: 200px;
}

.logo-label__title-first::first-letter
{
    color: pink;
}

.dashboard-leftpane__logo
{
    background: url('../assets/gitconvex.png');
    background-size: cover;
    width: 85px;
    height: 85px;
}